@import 'tailwindcss';

@font-face {
    font-family: 'inter';
    src: url(./assets/fonts/Inter-Light.woff2);
    font-weight: 300;
}

@font-face {
    font-family: 'montserrat';
    src: url(./assets/fonts/MontserratAlternates-Regular.woff2);
    font-weight: 400;
}

@theme {
    --*: initial;

    --breakpoint-md: 48rem;
    --breakpoint-lg: 64rem;

    --font-inter: 'inter', sans-serif;
    --font-montserrat: 'montserrat', sans-serif;

    --font-weight-extra-light: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;

    --text-10: 0.625rem;
    --text-14: 0.875rem;
    --text-18: 1.125rem;
    --text-20: 1.25rem;
    --text-24: 1.5rem;
    --text-28: 1.75rem;

    --color-black: #1f1f1f;
    --color-light-grey: #d3d3d3;
    --color-white: #f4f3f2;
    --color-eggshell: #f0ead6;

    --spacing-0: 0rem;
    --spacing-2: 0.125rem;
    --spacing-20: 1.25rem;
    --spacing-24: 1.5rem;
    --spacing-28: 1.75rem;
    --spacing-32: 2rem;
    --spacing-40: 2.5rem;
    --spacing-44: 2.75rem;
    --spacing-60: 3.75rem;
    --spacing-66: 4.125rem;
    --spacing-76: 4.75rem;

    --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
}
